# Archivos de Python
*.pyc
__pycache__/

# Base de datos local
*.sqlite3

# Entorno virtual
HRMS-main/vhrms/Lib/
HRMS-main/vhrms/Scripts/
HRMS-main/vhrms/include/
HRMS-main/vhrms/pyvenv.cfg
/venv/
/.venv/
.env
*.env
.env.*
**/.env
**/*.env

# VS Code settings
.vscode/

# Binarios de Windows
*.exe
*.bat
*.dll

# Uploads de usuarios (MEDIA_ROOT)
/media/

# Salida de collectstatic (STATIC_ROOT)
# -> se genera en deploy o con manage.py collectstatic
/staticfiles/

/logs/