{% extends "layouts/base.html" %}
{% block content %}
  <h2>Cambiar contraseña</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="mb-3">
      {{ form.old_password.label_tag }}<br>
      {{ form.old_password }}<br>
    </div>

    <div class="mb-3">
      {{ form.new_password1.label_tag }}<br>
      {{ form.new_password1 }}<br>
      {% if form.new_password1.help_text %}
      {% endif %}
      {{ form.new_password1.errors }}
    </div>

    <div class="mb-3">
      {{ form.new_password2.label_tag }}<br>
      {{ form.new_password2 }}<br>
      {% if form.new_password2.help_text %}
      {% endif %}
      {{ form.new_password2.errors }}
    </div>

    <button class="btn btn-primary" type="submit">
      Actualizar contraseña
    </button>
  </form>
{% endblock %}
