{% extends "layouts/base.html" %}
{% block content %}
  <h2>Cambiar contraseña</h2>
  <form method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <p>
      {{ form.old_password.label_tag }}<br>
      {{ form.old_password }}<br>
      {{ form.old_password.errors }}
    </p>
    <p>
      {{ form.new_password1.label_tag }}<br>
      {{ form.new_password1 }}<br>
      {{ form.new_password1.errors }}
    </p>
    <p>
      {{ form.new_password2.label_tag }}<br>
      {{ form.new_password2 }}<br>
      {{ form.new_password2.errors }}
    </p>
    <button type="submit">Actualizar contraseña</button>
  </form>
{% endblock %}
