{% extends 'layouts/base.html' %}
{% load static %}

{% block page_title %} Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div class="background-wrapper p-4">
<h1 class="text-center">
  ¡Bienvenid@ {{ user.first_name }}! <br>
  “Tu espacio personal para formación, gestión y comunicación.”
</h1>

<h2 class="mb-4 text-center">
  <br>Acumulado fondo de ahorro (próximamente)
</h2>

  <div class="progress mb-4">
    <div class="progress-bar bg-primary" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
      Semana 30 $17,000.00
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-3 mb-1">
      <div class="quick-access-card">
        <h6>Días de vacaciones disponibles</h6>
        <p>próximamente</p>
        <a  class="btn btn-success btn-sm">Ir →</a>
      </div>
    </div>
    <div class="col-md-3 mb-1">
      <div class="quick-access-card">
        <h6>Asistencia</h6>
        <p>próximamente</p>
        <a href="#" class="btn btn-success btn-sm">Ir →</a>
      </div>
    </div>
    <div class="col-md-3 mb-1">
      <div class="quick-access-card">
        <h6>Cursos activos</h6>
        <h2>{{in_progress_courses_count}}</h2>
        <a href="{% url 'course_wizard' %}" class="btn btn-success btn-sm">Ir →</a>
      </div>
    </div>
    <div class="col-md-3 mb-1">
      <div class="quick-access-card">
        <h6>Tus datos</h6>
        <p>próximamente</p>
        <a href="#" class="btn btn-success btn-sm mt-2">Ir →</a>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Comunicados -->
    <div class="col-md-6">
      <h5>Comunicados</h5>
      <div class="notification-card">
        <p><strong>Notificación</strong><br>Descripción de la notificación.<br><small>Hoy 9:11 hrs</small></p>
      </div>
      <!-- Puedes repetir más comunicados -->
    </div>

    <!-- Últimas notificaciones -->
    <div class="col-md-6">
      <h5>Últimas notificaciones</h5>
      <div class="notification-card">
        <p><strong>Notificación</strong><br>Descripción de la notificación.<br><small>Hoy 9:11 hrs</small></p>
      </div>
      <!-- Puedes repetir más notificaciones -->
    </div>
  </div>

</div>
{% endblock %}
