{% extends 'layouts/base.html' %}
{% load static %}

{% block page_title %}Solicitudes de constancias{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Solicitudes de constancias</h2>

    <!-- Barra de búsqueda -->
    <input type="text" id="formSearch" class="form-control search-bar" placeholder="Buscar formulario...">

    <!-- Tabs -->
    <div class="tab-container mb-3">
        <div class="tab active" id="tab-disponibles">Disponibles</div>
        <div class="tab" id="tab-en-proceso">En proceso</div>
        <div class="tab" id="tab-completados">Completados</div>
    </div>

    <!-- Contenido de pestañas -->

    <!-- DISPONIBLES -->
    <div id="contenedor-disponibles">
        <div class="form-list" id="list-disponibles">
            <div class="form-item mb-3">
                <i class="form-icon bi bi-file-earmark-text-fill"></i>
                <div class="form-name">Constancia laboral
                    <p style="font-size: 0.7rem;">En caso de requerir sello pasar a RR.HH.</p>
                </div>
                <div class="form-actions">
                    <a href="{% url 'constancia_laboral' %}" target="_blank" class="btn btn-outline-primary">Solicitar</a>
                </div>
            </div>

            <div class="form-item mb-3">
                <i class="form-icon bi bi-file-earmark-text-fill"></i>
                <div class="form-name">Constancia especial
                    <p style="font-size: 0.7rem;">En caso de requerir sello pasar a RR.HH.</p>
                </div>
                <div class="form-actions">
                    <a href="{% url 'constancia_especial' %}" target="_blank" class="btn btn-outline-primary">Solicitar</a>
                </div>
            </div>

            {% if perms.forms_requests.puede_solicitar_personal %}
            <div class="form-item mb-3">
                <i class="form-icon bi bi-file-earmark-text-fill"></i>
                <div class="form-name">Requisición de personal</div>
                <div class="form-actions">
                    <a href="{% url 'requisicion_personal' %}" class="btn btn-outline-primary">Solicitar</a>
                </div>
            </div>
            {% endif %}

            {% if perms.forms_requests.puede_solicitar_guarderia %}
            <div class="form-item mb-3">
                <i class="form-icon bi bi-file-earmark-text-fill"></i>
                <div class="form-name">Constancia de guardería</div>
                <div class="form-actions">
                    <a href="#" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalGuarderia">Solicitar</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- EN PROCESO -->
    <div id="contenedor-en-proceso" style="display: none;">
        <div class="form-list">
            {% if perms.forms_requests.puede_solicitar_guarderia %}
            <div class="form-item mb-3">
                <i class="form-icon bi bi-file-earmark-text-fill"></i>
                <div class="form-name">No tienes solicitudes enviadas.</div>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- COMPLETADOS -->
    <div id="contenedor-completados" style="display: none;">
        <div class="form-list">
            {% if perms.forms_requests.puede_solicitar_guarderia %}
            <div class="form-item mb-3">
                <i class="form-icon bi bi-file-earmark-text-fill"></i>
                <div class="form-name">No tienes solicitudes completadas.</div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="modal fade" id="modalGuarderia" tabindex="-1" aria-labelledby="modalGuarderiaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form id="formGuarderia" method="POST" data-url="{% url 'guardar_constancia_guarderia' %}">
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalGuarderiaLabel">Constancia de guardería</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-6">
                    {% for dia in dias_semana|slice:":4" %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="dias_laborales" value="{{ dia }}" id="dia_{{ forloop.counter }}">
                        <label class="form-check-label" for="dia_{{ forloop.counter }}">{{ dia }}</label>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-6">
                    {% for dia in dias_semana|slice:"4:" %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="dias_laborales" value="{{ dia }}" id="dia_{{ forloop.counter }}">
                        <label class="form-check-label" for="dia_{{ forloop.counter }}">{{ dia }}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="mb-3 d-flex gap-2">
            <div class="w-50">
                <label class="form-label">Hora de entrada</label>
                <input type="time" class="form-control" name="hora_entrada" required>
            </div>
            <div class="w-50">
                <label class="form-label">Hora de salida</label>
                <input type="time" class="form-control" name="hora_salida" required>
            </div>
        </div>
          <div class="mb-3">
            <label for="nombre_guarderia" class="form-label">Nombre de la guardería</label>
            <input type="text" class="form-control" id="nombre_guarderia" name="nombre_guarderia" required>
          </div>
          <div class="mb-3">
            <label for="direccion_guarderia" class="form-label">Dirección de la guardería</label>
            <textarea class="form-control" id="direccion_guarderia" name="direccion_guarderia" required></textarea>
          </div>
          <div class="mb-3">
            <label for="nombre_menor" class="form-label">Nombre del menor</label>
            <input type="text" class="form-control" id="nombre_menor" name="nombre_menor" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" >Generar constancia</button>
        </div>
      </div>
    </form>
  </div>
</div>


{% endblock %}

{% block scripts %}
<script src="{% static 'js/forms.js' %}"></script>
{% endblock %}
