{# surveys/admin/_question.html #}
<div class="q-card"
     data-question-id="{{ q.id }}"
     data-type="{{ q.qtype|default:'single' }}"
     data-required="{{ q.required|default_if_none:False|yesno:'true,false' }}">
  <div class="d-flex justify-content-between align-items-center">
    <div class="q-title">{{ q.title|default:'Pregunta' }}</div>

    <div class="dropdown">
      <button type="button" class="btn btn-sm btn-outline-secondary"
              data-bs-toggle="dropdown" data-bs-display="static">⋮</button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><button type="button" class="dropdown-item" data-action="q.duplicate" disabled>Duplicar (luego)</button></li>
        <li><hr class="dropdown-divider"></li>
        <li><button type="button" class="dropdown-item text-danger" data-action="q.delete">Eliminar</button></li>
      </ul>
    </div>
  </div>

  {% if q.qtype == 'single' %}
    {% for opt in q.options.all%}
      <div class="form-check mt-1" data-preview="single">
        <input class="form-check-input correct-preview"
              type="radio"
              disabled
              {% if opt.is_correct %}checked{% endif %}>
        <label class="form-check-label">{{ opt.label }}</label>
      </div>
    {% endfor %}
  {% endif %}

  {% if q.qtype == 'multiple' %}
    {% for opt in q.options.all|slice:":3" %}
      <div class="form-check mt-1" data-preview="multiple">
        <input class="form-check-input correct-preview"
              type="checkbox"
              disabled
              {% if opt.is_correct %}checked{% endif %}>
        <label class="form-check-label">{{ opt.label }}</label>
      </div>
    {% endfor %}
  {% endif %}


  <div class="q-footer"></div>
</div>
