{% extends "layouts/base.html" %}
{% block page_title %}Respuestas: {{ survey.title }}{% endblock %}

{% block content %}
<div class="container py-3">
  <a class="btn btn-light mb-3" href="{% url 'survey_detail_admin' survey.id %}">← Volver</a>

  <h2>Respuestas de la encuesta: {{ survey.title }}</h2>
  <p class="text-muted">Total respuestas: {{ responses|length }}</p>

  <div class="table-responsive">
    <table class="table table-bordered table-sm align-middle">
      <thead>
        <tr>
          <th>Usuario</th>
          {% for q in questions %}
            <th>{{ forloop.counter }}. {{ q.title }}</th>
          {% endfor %}
          <th>Fecha de envío</th>
        </tr>
      </thead>
      <tbody>
        {% for resp in responses %}
        <tr>
            <td>
            {% if survey.is_anonymous %}
                -
            {% else %}
                {{ resp.user.get_full_name|default:resp.user.username }}
            {% endif %}
            </td>

            {% for answer in resp.cells %}
            <td>
                {% if answer %}
                {{ answer.display }}
                {% else %}
                -
                {% endif %}
            </td>
            {% endfor %}

          <td>{{ resp.submitted_at|date:"d/m/Y H:i" }}</td>
        </tr>
        {% empty %}
          <tr><td colspan="{{ questions|length|add:2 }}">No hay respuestas aún.</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
